<a href="https://colab.research.google.com/github/jesus-padilla22/intro_python202223/blob/main/introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# mis primeras linea de codigo en phython
name = 'jesus david'
print("hello,", name)

hello, jesus david

In [10]:
from os import forkpty
firstname = 'jesus'
lastname = 'padilla'
age = 18
city = 'cerete, cordoba'
food = 'Arroz de coco con guiso'

print("mi nombre es, ", firstname, lastname, "tengo", age,"años, vivo en", city, "y me gusta", food)
print

mi nombre es,  jesus padilla tengo 18 años, vivo en cerete, cordoba y me gusta Arroz de coco con guiso

In [11]:
a = 3
b = 4.5
c = a + b
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [12]:
m = 5
b = 2
x = -3
y = m * x + b
print(x, "/---/" , y)
x = -1
y = m * x + b
print(x, '/---/', y)

-3 /---/ -13
-1 /---/ -3

In [13]:
a = 0.1
b = -2
c = 0.5

disc = (b ** 2 - 4 * a * c) ** (1/2)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)

In [14]:
firstname='jesus'
lastname='padilla'
fullname=firstname" "lastname
print(fullname)

SyntaxError: ignored

In [19]:
a = 3
b = 5
print(a == b)
print( a < b)
print( a > b)
print( (a == b) and (b + 3 > 5) )
print( not ( a == b))

False
True
False
False
True